<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ecommerce API Test Suite" parallel="false">
    <test name="Auth Tests" verbose="2">
        <classes>
            <class name="com.ecommerce.runners.TestRunner">
                <methods>
                    <include name="runScenario"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>